<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Adicionado</title>
  </head>
  <body>
    <h1>Convite Enviado!</h1>
    <p><%= @success_message %></p>
    <p>Convite para: <%= @team_name %> enviado. Por favor verifique o seu email e aceite o convite do calendário.</p>
    <a href="/">Voltar</a>
  </body>
</html>
