<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Adicionado</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Convite Enviado!</h1>
    <div class="container">
      <p><%= @success_message %></p>
      <p>Convite para: <%= @team_name %> enviado. Por favor verifique o seu email e aceite o convite do calendário.</p>
      <button onclick="window.location.href='/'">Voltar</button>
    </div>
  </body>
</html>
